body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

.box {
  width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.box h1 {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #27ae60;
  padding: 10px 7px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 240px;
  transition: 0.25s;
  font-weight: 300;
}
.box input[type="text"]:hover,
.box input[type="password"]:hover {
  width: 280px;
  border-color: #8e44ad;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #27ae60;
  padding: 20px 50px;
  outline: none;
  color: white;
  border-radius: 240px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #2ecc71;
  width: 200px;
}
